
@{
    ViewData["Title"] = "MostrarClientes";
}

<h1>MostrarClientes</h1>

<table>
    <thead>
        <th>Nombre</th>
        <th>Cedula</th> 
        <th>Nacionalidad</th>
        <th>Puntos</th>
        <th>Editar Puntos</th>
        <th>Ocasional</th>
        <th>Cambiar elegibilidad</th>
    </thead>
    <tbody>
        @foreach (Dominio.Cliente cliente in Model)
        {
            <tr style="padding:5px">
                <td>@cliente.Nombre</td>
                <td>@cliente.Cedula</td>
                <td>@cliente.Nacionalidad</td>
                <td>
                    @if (cliente is Dominio.Premium premium)
                    {
                        @premium.Puntos
                        <form asp-action="EditarPuntos" asp-controller="Usuario" method="post" style="display:inline";>
                            <input type="hidden" name="mail" value="@premium.Mail"/>
                            <input type="number" name="puntos" value="@premium.Puntos" min="0"/>
                            <button type="submit">Guardar</button>
                        </form>
                    }
                </td>
                <td>
                    @if (cliente is Dominio.Ocasional ocasional)
                    {
                        @ocasional.ToString()
                        <form asp-action="EditarElegible" asp-controller="Usuario" method="post" style="display:inline" ;>
                            <input type="hidden" name="mail" value="@ocasional.Mail" />

                            <label>
                                <input type="radio" name="esElegible" value="true" /> Si
                            </label>

                            <label>
                                <input type="radio" name="esElegible" value="false" /> No
                            </label>

                            <button type="submit">Guardar</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>