@model IEnumerable<Dominio.Pasaje>
@{
    ViewData["Title"] = "PasajesComprados";
}

<h1>PasajesComprados</h1>
@TempData["Mensaje"]
@if (Model != null && Model.Count() > 0)
{
    <table>
    <thead>
    <th style="padding:5px">Fecha del Vuelo</th>
    <th style="padding:5px">Numero de Vuelo</th>
    <th style="padding:5px">Nombre Pasajero</th>
    <th style="padding:5px">Equipaje</th>
    <th style="padding:5px">Precio</th>
    </thead>
    <tbody>
        @foreach (Dominio.Pasaje pasaje in Model)
        {
            <tr>
                <td style="padding:5px">@pasaje.Fecha</td>
                <td style="padding:5px">@pasaje.Vuelo.NumeroVuelo</td>
                <td style="padding:5px">@pasaje.Pasajero.Nombre</td>
                <td style="padding:5px">@pasaje.Equipaje</td>
                <td style="padding:5px">@pasaje.Precio</td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    @ViewBag.Mensaje
}
